@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: 'Roboto', sans-serif;
  --Egg: #fffaf0;
}

html {
  font-family: var(--font-display);
  font-weight: 400;
  margin: 0;
  padding: 0;
}
